<%- include('../layouts/header'); %>
<h2 class="blog_manager_text">Create new blog</h2>
<form method="POST" action="/blogs/store" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Image</label>
        <input type="file" class="form-control" id="image" name="image">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <textarea type="text" class="form-control" id="content" name="content" placeholder="Enter description"></textarea>
    </div>
    <input type="hidden" class="form-control" id="image" name="user_id" value="<%= user._id %>">
    <input type="hidden" class="form-control" id="image" name="username" value="<%= user.username %>">
    <button type="submit" class="btn btn-primary add-new-blog">Add</button>
</form>

<%- include('../layouts/footer'); %>